[*.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.CA1515.severity = none
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1030.severity = none
